<!DOCTYPE html>
<html lang="es">
{{> head titulo= "WorkOut"}}
<link rel="stylesheet" href="../css/menu.css">

<body>
    {{> header}}
    <div class="container-mid">
        <div id="dias-container">
            <div id="dias-top">
                <h5>Días de entrenamiento</h5>
                <button onclick=sendDB()> Guardar Rutina </button>
            </div>
            <div id="table-container">
                <table>
                    <tbody id="tablaDias">
                        <tr id='filaDias'>
                            <td><button id="Boton1" onclick=selectDia(1)>1</button></td>
                            <td><button onclick=addDia()>+</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
        <div id="selected-container">
            <div id="selected-container-top">
                <h4 id="diaSelected">Dia 1</h4>
                <button onclick=delDia()>-</button>
                <button onclick="modalForm()">Añadir Ejercicio</button>
            </div>
            <div id="modal-workout" class="modal">
                <div class="modal-content">
                    <div>
                        <input type="text" name="ejercicio" placeholder="Ejercicio" class="form-control">
                    </div>
                    <div id="series">
                        <div>
                            <input type="text" name="repes" placeholder="Repeticiones Serie 1" class="form-control">
                            <button onclick=addSerie()>+</button>
                            <button onclick=delSerie()>-</button>
                        </div>
                    </div>
                    <div>
                        <input type="text" name="intensidad" placeholder="Intensidad" class="form-control">
                    </div>
                    <div>
                        <input type="text" name="pesomin" placeholder="Peso Minimo" class="form-control">
                    </div>
                    <div>
                        <input type="text" name="descanso" placeholder="Descanso" class="form-control">
                    </div>
                    <div>
                        <button onclick=addEjercicio()>Guardar</button>
                    </div>
                </div>

            </div>
            <div id="lista">
                <div class="card">
                    <div id="card-titulo">
                        Jalon al Pecho agarre supino con tirolinadfdssfd
                    </div>
                    <div id="card-info">
                        <p>12x 8x 8x</p>
                        <p>RIR4</p>
                        <p>65Kg</p>
                        <p>1'30''</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> nav}}
    <script src="../js/workout.js"></script>
    {{> footer}}