<div id="sidebar" class="slideout-menu" style="display:flex;">
    
</div>
<div id="content" class="slideout-panel">
    <header>
        <div id="header-top">
            <div id="header-top-left">
                <button id="toggle-menu" class="btn">

                </button>
            </div>
        </div>

        <div id="header-menu">
            <ul class="menu">
                <li>
                    <a href="" class="btn active navbar-switch-tab">
                        <svg>
                            <use href=""></use>
                        </svg>
                        <div class="title">Ejercicios</div>
                    </a>
                </li>

            </ul>
        </div>

    </header>
    <div class="wrapper">
        Bienvenido
    </div>
</div>