<!DOCTYPE html>
<html lang="es">
{{> head titulo= "Menu"}}
<link rel="stylesheet" href="../css/menu.css">
<body>



<div id="sidebar" class="slideout-menu" style="display:flex;">   
</div>

<div id="content" class="slideout-panel">
    <div id ='lock'></div>
{{> header}}
    <section class="wrapper">
        Bienvenido
    </section>
{{> nav}}
{{> footer}}
</div>