<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{{titulo}}} </title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/menu.css">

</head>
<body>
<div id="sidebar" class="slideout-menu" style="display:flex;">   
</div>

<div id="content" class="slideout-panel">
    <div id ='lock'></div>
    <header >
        <div id="header-top">
            <div class="header-top-left">
                <button id="toggle-menu" class="btn">
                    foto
                </button>
            </div>
            <div class="header-top-center">
                <div class="title">
                    NutriWork
                </div>
            </div>
        </div>       

    </header>
    <section class="wrapper">
        Bienvenido
        {{{section}}}
    </section>
    <nav id="nav-menu">
            <ul class="menu">
                <li>
                    <a href="/nutricion" class="btn active navbar-switch-tab">Nutrición
                    </a>
                </li>
                <li>
                    <a href="/workout" class="btn active navbar-switch-tab">WorkOut
                    </a>
                </li>
                <li>
                    <a href="/medidas" class="btn active navbar-switch-tab">Medidas
                    </a>
                </li>

            </ul>
        </nav>
</div>


</body>
</html>