<header class="barras">
    <div id="header-left">
        <button id="toggle-menu" class="btn-container">
            <img src="../img/user-placehorder.jpeg">
        </button>
    </div>
    <div id="header-center">
        <div class="title">
            NutriWork
        </div>
    </div>
    <div id="header-right">
        foto
    </div>

</header>