<header >
        <div id="header-top">
            <div class="header-top-left">
                <button id="toggle-menu" class="btn">
                    <img src="../img/user-placehorder.jpeg" height="10px" width="15px">
                </button>
            </div>
            <div class="header-top-center">
                <div class="title">
                    NutriWork
                </div>
            </div>
        </div>       

    </header>