<nav id="nav-menu">
            <ul class="menu">
                <li>
                    <a href="/nutricion" class="btn active navbar-switch-tab">Nutrición
                    </a>
                </li>
                <li>
                    <a href="/workout" class="btn active navbar-switch-tab">WorkOut
                    </a>
                </li>
                <li>
                    <a href="/medidas" class="btn active navbar-switch-tab">Medidas
                    </a>
                </li>

            </ul>
        </nav>